{% load static %}
<link href="{% static 'livrowebapp/css/books/browse-content.css' %}" rel="stylesheet" />
<div class="content">
    <div class="searchbg"> 
        <div class="search-box">
            <button id="searchButton"><img src="{% static 'livrowebapp/img/search48px.png' %}"></button>
            <input type="text" id="searchInput" placeholder="Search books...">
        </div>
        <div class="filters">
          <button type="button" class="genre-button" id="actionbtn" value="Action">Action</button>
          <button type="button" class="genre-button" id="fantasybtn" value="Fantasy">Fantasy</button>
          <button type="button" class="genre-button" id="youngbtn" value="Young Adult">Young Adult</button>
          <button type="button" class="genre-button" id="comedybtn" value="Comedy">Comedy</button>
          <button type="button" class="genre-button" id="romancebtn" value="Romance">Romance</button>
          <button type="button" class="genre-button" id="nonficbtn" value="NonFiction">NonFiction</button>
          <button type="button" class="genre-button" id="scifibtn" value="Science Fiction">Science Fiction</button>
          <button type="button" class="genre-button" id="horrorbtn" value="Horror">Horror</button>
        </div>          
    </div>

    <!-- Note: browse contents only contain the top 10 from each genre. -->
    <div class="browsebottom">

        <!-- Top 10 Trending Books -->
       

        <!-- Trending Books by Genre -->
        {% for genre, books in books_by_genre.items %}
            <div class="genrebox" id="g{{ forloop.counter }}">
                <p><b>Top 10 Trending {{ genre }} Books</b></p>
                <div class="books">
                    <table>
                        <tr>
                            {% for book in books %}
                                <td>
                                    <ul>
                                        <li><a href="{% url 'bookinformation' book.title %}"><img class="profileimg" src="{{ book.book_cover.url }}"></a></li>
                                        <li><p id="book-title">{{ book.title }}</p></li>
                                        {% for genre in book.genre_list %}
                                            <button type="button" class="genre-btn" value="{{ genre }}">
                                                {{ genre }}
                                            </button>
                                        {% endfor %}
                                    </ul>
                                </td>
                            {% endfor %}
                        </tr>
                    </table>
                </div>
            </div>
        {% endfor %}

        <!-- Hidden Content -->
        <div id="hidden-content">
            <div class="hidden-content">
                {% for genre in genres_to_display %}
                    <div class="genrebox" id="h{{ forloop.counter0|add:2 }}">
                        <p><b>{{ genre }} Books</b></p>
                        <div class="books">
                            {% for book in all_books %}
                                {% if genre in book.genre_list %}
                                    <ul>
                                        <li><a href="{% url 'bookinformation' book.title %}"><img class="profileimg" src="{{ book.book_cover.url }}"></a></li>
                                        <li><p id="book-title">{{ book.title }}</p></li>
                                        {% for book_genre in book.genre_list %}
                                            <button type="button" class="genre-btn" value="{{ book_genre }}">
                                                {{ book_genre }}
                                            </button>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script src="{% static 'livrowebapp/js/browse.js' %}"></script>
      