{% load static %}
<link href="{% static 'livrowebapp/css/books/browse-content.css' %}" rel="stylesheet" />
<div class="content" >
    <div class="searchbg"> 
      <div class="search-box">
        <button><img src="{% static 'livrowebapp/img/search48px.png' %}"></button>
        <input type="text" placeholder="Search books...">
      </div>
      <div class="filters">
        <button type="button" class="genre-button" id="actionbtn" value="Action">Action</button>
        <button type="button" class="genre-button" id="fantasybtn" value="Fantasy">Fantasy</button>
        <button type="button" class="genre-button" id="youngbtn" value="Young Adult">Young Adult</button>
        <button type="button" class="genre-button" id="comedybtn" value="Comedy">Comedy</button>
        <button type="button" class="genre-button" id="romancebtn" value="Romance">Romance</button>
        <button type="button" class="genre-button" id="nonficbtn" value="NonFiction">NonFiction</button>
        <button type="button" class="genre-button" id="scifibtn" value="Science Fiction">Science Fiction</button>
        <button type="button" class="genre-button" id="horrorbtn" value="Horror">Horror</button>
      </div>          
    </div>

    <! --Note: browse contents only contains top 10 from each genre. -->
    
    <div class="browsebottom">

      <div class="genrebox" id="g1">
        <p><b>Top 10 Trending Books</b></p>
<div class="books">
  <table>
    <tr>
        {% for book in all_books %}
            <td>
                <ul>
                    <li><a href="#"><img class="profileimg" src="{{ book.book_cover.url }}"></a></li>
                    <li><p id="book-title">{{ book.title }}</p></li>
                    <li><button type="button" class="genre-btn" value="{{ book.genre }}">{{ book.genre }}</button></li>
                </ul>
            </td>
        {% endfor %}
    </tr>
</table>
</div>
</div>

      <div class="genrebox" id="g1">
        <p><b>Top 10 Trending Action Books</b></p>
        <div class="books">
          <table>
            <tr>
           
               <!--create the forloop dito para mag iterate sa table-->
               <td><ul>
                <li><a href="#"> <img class="profileimg"   src="{% static 'livrowebapp/img/book1.png' %}"></a></li>
                <li><p id ="action-title">title</p></li>
                <li><button type="button" class="actionbtn" value="Action">Action</button></li>
            </ul></td>
           <!--endloop-->

            </tr>
          </table>
        </div>
      </div>
      <div class="genrebox" id="g3">
        <p><b>Top 10 Trending Fantasy Book</b></p>
        <div class="books">
          <table>
            <tr>
          
              <!--create the forloop dito para mag iterate sa table-->
              <td><ul>
                <li><a href="#"> <img class="profileimg"   src="{% static 'livrowebapp/img/book1.png' %}"></a></li>
                <li><p id ="fantasy-title">title</p></li>
                <li><button type="button" class="fantasybtn" value="Fantasy">Fantasy</button></li>
            </ul></td>
           <!--endloop-->

            </tr>
          </table>
        </div>
      </div>
      <div class="genrebox" id="g4">
        <p><b>Top 10 Trending Young Adult Books</b></p>
        <div class="books">
          <table>
            <tr>
            <!--create the forloop dito para mag iterate sa table-->
            <td><ul>
              <li><a href="#"> <img class="profileimg"   src="{% static 'livrowebapp/img/book1.png' %}"></a></li>
              <li><p id ="young-title">title</p></li>
              <li><button type="button" class="youngbtn" value="Young Adult">Young Adult</button></li>
          </ul></td>
         <!--endloop-->

            </tr>
          </table>
        </div>
      </div>

      <div class="genrebox" id="g5">
        <p><b>Top 10 Trending Comedy Books</b></p>
        <div class="books">
          <table>
            <tr>
             
              <!--create the forloop dito para mag iterate sa table-->
            <td><ul>
              <li><a href="#"> <img class="profileimg"   src="{% static 'livrowebapp/img/book1.png' %}"></a></li>
              <li><p id ="comedy-title">title</p></li>
              <li><button type="button" class="comedybtn" value="Comedy">Comedy</button></li>
          </ul></td>
         <!--endloop-->
              
            </tr>
          </table>
        </div>
      </div>
      <div class="genrebox" id="g6">
        <p><b>Top 10 Trending Romance Books</b></p>
        <div class="books">
          <table>
            <tr>

                <!--create the forloop dito para mag iterate sa table-->
            <td><ul>
              <li><a href="#"> <img class="profileimg"   src="{% static 'livrowebapp/img/book1.png' %}"></a></li>
              <li><p id ="romance-title">title</p></li>
              <li><button type="button" class="romancebtn"value="Romance">Romance</button></li>
          </ul></td>
         <!--endloop-->
             
            </tr>
          </table>
        </div>
      </div>
      <div class="genrebox" id="g7">
        <p><b>Top 10 Trending NonFiction Books</b></p>
        <div class="books">
          <table>
            <tr>
             
          <!--create the forloop dito para mag iterate sa table-->
            <td><ul>
              <li><a href="#"> <img class="profileimg"   src="{% static 'livrowebapp/img/book1.png' %}"></a></li>
              <li><p id ="nonfic-title">title</p></li>
              <li><button type="button" class="nonficbtn"value="NonFiction">NonFiction</button></li>
          </ul></td>
         <!--endloop-->
        
            </tr>
          </table>
        </div>
      </div>
      <div class="genrebox" id="g8">
        <p><b>Top 10 Trending SciFi Books</b></p>
        <div class="books">
          <table>
            <tr>

            <!--create the forloop dito para mag iterate sa table-->
            <td><ul>
              <li><a href="#"> <img class="profileimg"   src="{% static 'livrowebapp/img/book1.png' %}"></a></li>
              <li><p id ="scifi-title">title</p></li>
              <li><button type="button" class="scifibtn" value="Science Fiction">Science Fiction</button></li>
          </ul></td>
         <!--endloop-->
        
            </tr>
          </table>
        </div>
      </div>
      <div class="genrebox" id="g9">
        <p><b>Top 10 Trending Horror Books</b></p>
        <div class="books">
          <table>
            <tr>
              
          <!--create the forloop dito para mag iterate sa table-->
            <td><ul>
              <li><a href="#"> <img class="profileimg"   src="{% static 'livrowebapp/img/book1.png' %}"></a></li>
              <li><p id ="horror-title">title</p></li>
              <li><button type="button" class="horrorbtn"value="Horror">Horror</button></li>
          </ul></td>
         <!--endloop-->
          <!--create the forloop dito para mag iterate sa table-->
          <td><ul>
            <li><a href="#"> <img class="profileimg"   src="{% static 'livrowebapp/img/book1.png' %}"></a></li>
            <li><p id ="horror-title">title</p></li>
            <li><button type="button" class="horrorbtn"value="Horror">Horror</button></li>
        </ul></td>
       <!--endloop-->

            </tr>
          </table>
        </div>
      </div>
<!---------------------------------------contents to be hidden-------------------------->
    <div class="hidden-content" id="hidden-content">
    
      <div class="genrebox" id="h2">
        <p><b>Action Books</b></p>
        <div class="books">
           
               <!--create the forloop dito para mag iterate sa table-->
              <ul>
                <li><a href="#"> <img class="profileimg"   src="{% static 'livrowebapp/img/book1.png' %}"></a></li>
                <li><p id ="action-title">title</p></li>
                <li><button type="button" class="actionbtn" value="Action">Action</button></li>
            </ul>
           <!--endloop-->
          </div>
      </div>
    
        <div class="genrebox" id="h3">
          <p><b>Fantasy Books</b></p>
          <div class="books">
      <! -- kahit 1 nalang maiwan from here-->
          <!--get the book img, title, genre-->
          <ul>
              <li><a href="#"> <img class="profileimg"   src="{% static 'livrowebapp/img/book1.png' %}"></a></li>
              <li><p id ="fantasy-title">tithhhdsadhasdasdposaodiasodiapsodipaosidpaosidple</p></li>
              <li><button type="button" class="fantasybtn" value="Fantasy">Fantasy</button></td></li>
          </ul>
      <!--to here-->
            <!--preview-->
                <ul>
                  <li><a href="#"> <img class="profileimg"   src="{% static 'livrowebapp/img/book1.png' %}"></a></li>
                  <li><p id ="fantasy-title">tithhhdsadhasdasdposaodiasodiapsodipaosidpaosidple</p></li>
                  <li><button type="button" class="fantasybtn" value="Fantasy">Fantasy</button></td></li>
              </ul>
                  <ul>
                    <li><a href="#"> <img class="profileimg"   src="{% static 'livrowebapp/img/book1.png' %}"></a></li>
                    <li><p id ="fantasy-title">tithhhdsadhasdasdposaodiasodiapsodipaosidpaosidple</p></li>
                    <li><button type="button" class="fantasybtn" value="Fantasy">Fantasy</button></td></li>
                </ul>
                <ul>
                  <li><a href="#"> <img class="profileimg"   src="{% static 'livrowebapp/img/book1.png' %}"></a></li>
                  <li><p id ="fantasy-title">tithhhdsadhasdasdposaodiasodiapsodipaosidpaosidple</p></li>
                  <li><button type="button" class="fantasybtn" value="Fantasy">Fantasy</button></td></li>
              </ul>
              <ul>
                <li><a href="#"> <img class="profileimg"   src="{% static 'livrowebapp/img/book1.png' %}"></a></li>
                <li><p id ="fantasy-title">tithhhdsadhasdasdposaodiasodiapsodipaosidpaosidple</p></li>
                <li><button type="button" class="fantasybtn" value="Fantasy">Fantasy</button></td></li>
              </ul>
              <ul>
                <li><a href="#"> <img class="profileimg"   src="{% static 'livrowebapp/img/book1.png' %}"></a></li>
                <li><p id ="fantasy-title">tithhhdsadhasdasdposaodiasodiapsodipaosidpaosidple</p></li>
                <li><button type="button" class="fantasybtn" value="Fantasy">Fantasy</button></td></li>
              </ul>
              <ul>
                <li><a href="#"> <img class="profileimg"   src="{% static 'livrowebapp/img/book1.png' %}"></a></li>
                <li><p id ="fantasy-title">tithhhdsadhasdasdposaodiasodiapsodipaosidpaosidple</p></li>
                <li><button type="button" class="fantasybtn" value="Fantasy">Fantasy</button></td></li>
              </ul>
              <ul>
                <li><a href="#"> <img class="profileimg"   src="{% static 'livrowebapp/img/book1.png' %}"></a></li>
                <li><p id ="fantasy-title">tithhhdsadhasdasdposaodiasodiapsodipaosidpaosidple</p></li>
                <li><button type="button" class="fantasybtn" value="Fantasy">Fantasy</button></td></li>
              </ul>
                <ul>
                  <li><a href="#"> <img class="profileimg"   src="{% static 'livrowebapp/img/book1.png' %}"></a></li>
                  <li><p id ="fantasy-title">tithhhdsadhasdasdposaodiasodiapsodipaosidpaosidple</p></li>
                  <li><button type="button" class="fantasybtn" value="Fantasy">Fantasy</button></td></li>
                </ul>
                <ul>
                  <li><a href="#"> <img class="profileimg"   src="{% static 'livrowebapp/img/book1.png' %}"></a></li>
                  <li><p id ="fantasy-title">tithhhdsadhasdasdposaodiasodiapsodipaosidpaosidple</p></li>
                  <li><button type="button" class="fantasybtn" value="Fantasy">Fantasy</button></td></li>
                </ul>
                <ul>
                  <li><a href="#"> <img class="profileimg"   src="{% static 'livrowebapp/img/book1.png' %}"></a></li>
                  <li><p id ="fantasy-title">tithhhdsadhasdasdposaodiasodiapsodipaosidpaosidple</p></li>
                  <li><button type="button" class="fantasybtn" value="Fantasy">Fantasy</button></td></li>
                </ul>

              <!--endpreview-->
          </div>
        </div>

        <div class="genrebox" id="h4">
          <p><b>Young Adult Books</b></p>
          <div class="books">
    
              <!--create the forloop dito para mag iterate sa table-->
              <ul>
                <li><a href="#"> <img class="profileimg"   src="{% static 'livrowebapp/img/book1.png' %}"></a></li>
                <li><p id ="young-title">title</p></li>
                <li><button type="button" class="youngbtn" value="Young Adult">Young Adult</button></li>
            </ul>
           <!--endloop-->

          </div>
        </div>

        <div class="genrebox" id="h5">
          <p><b>Comedy Books</b></p>
          <div class="books">
               
                <!--create the forloop dito para mag iterate sa table-->
            <ul>
                <li><a href="#"> <img class="profileimg"   src="{% static 'livrowebapp/img/book1.png' %}"></a></li>
                <li><p id ="comedy-title">title</p></li>
                <li><button type="button" class="comedybtn" value="Comedy">Comedy</button></li>
            </ul>
           <!--endloop-->
      
          </div>
        </div>

        <div class="genrebox" id="h6">
          <p><b>Romance Books</b></p>
          <div class="books">
         
                  <!--create the forloop dito para mag iterate sa table-->
            <ul>
                <li><a href="#"> <img class="profileimg"   src="{% static 'livrowebapp/img/book1.png' %}"></a></li>
                <li><p id ="romance-title">title</p></li>
                <li><button type="button" class="romancebtn"value="Romance">Romance</button></li>
            </ul>
           <!--endloop-->
               
          </div>
        </div>

        <div class="genrebox" id="h7">
          <p><b>NonFiction Books</b></p>
          <div class="books">
           
            <!--create the forloop dito para mag iterate sa table-->
              <ul>
                <li><a href="#"> <img class="profileimg"   src="{% static 'livrowebapp/img/book1.png' %}"></a></li>
                <li><p id ="nonfic-title">title</p></li>
                <li><button type="button" class="nonficbtn"value="NonFiction">NonFiction</button></li>
            </ul>
           <!--endloop-->
          
          </div>
        </div>

        <div class="genrebox" id="h8">
          <p><b>SciFi Books</b></p>
          <div class="books">
           
              <!--create the forloop dito para mag iterate sa table-->
              <ul>
                <li><a href="#"> <img class="profileimg"   src="{% static 'livrowebapp/img/book1.png' %}"></a></li>
                <li><p id ="scifi-title">title</p></li>
                <li><button type="button" class="scifibtn" value="Science Fiction">Science Fiction</button></li>
            </ul>
           <!--endloop-->
        
          </div>
        </div>

        <div class="genrebox" id="h9">
          <p><b>Horror Books</b></p>
          <div class="books">
          
            <!--create the forloop dito para mag iterate sa table-->
              <ul>
                <li><a href="#"> <img class="profileimg"   src="{% static 'livrowebapp/img/book1.png' %}"></a></li>
                <li><p id ="horror-title">title</p></li>
                <li><button type="button" class="horrorbtn"value="Horror">Horror</button></li>
            </ul>
           <!--endloop-->
            <!--create the forloop dito para mag iterate sa table-->
            <ul>
              <li><a href="#"> <img class="profileimg"   src="{% static 'livrowebapp/img/book1.png' %}"></a></li>
              <li><p id ="horror-title">title</p></li>
              <li><button type="button" class="horrorbtn"value="Horror">Horror</button></li>
          </ul>
         <!--endloop-->
  
             
          </div>
        </div>
<!------------------endhiddencontent---------------->


  </div>
</div>
</div>
<script src="{% static 'livrowebapp/js/browse.js' %}"></script>
