{%include 'livrowebapp/home.html' %}
{%load static%}
<link href="{% static 'livrowebapp/css/books/fantasy.css' %}" rel="stylesheet" />


{% block content %}
<div class="browsebottom">
<p><b>Fantasy Books</b></p>
<div class="genrebox" id="g3">


<! -- kahit 1 nalang maiwan from here-->
    <!--get the book img, title, genre-->
    <ul>
        <li><a href="#"> <img class="profileimg" id="profileimg" src="{% static 'livrowebapp/img/book1.png' %}"></a></li>
        <li><p id ="fantasy-title">tithhhdsadhasdasdposaodiasodiapsodipaosidpaosidple</p></li>
        <li><button type="button" class="genre-button" id="fantasybtn" value="Fantasy">Fantasy</button></td></li>
    </ul>
<!--to here-->

    <ul>
        <li><a href="#"> <img class="profileimg" id="profileimg" src="{% static 'livrowebapp/img/book1.png' %}"></a></li>
        <li><p id ="fantasy-title">title</p></li>
        <li><button type="button" class="genre-button" id="fantasybtn" value="Fantasy">Fantasy</button></td></li>
    </ul>
    <ul>
        <li><a href="#"> <img class="profileimg" id="profileimg" src="{% static 'livrowebapp/img/book1.png' %}"></a></li>
        <li><p id ="fantasy-title">title</p></li>
        <li><button type="button" class="genre-button" id="fantasybtn" value="Fantasy">Fantasy</button></td></li>
    </ul>
    <ul>
        <li><a href="#"> <img class="profileimg" id="profileimg" src="{% static 'livrowebapp/img/book1.png' %}"></a></li>
        <li><p id ="fantasy-title">title</p></li>
        <li><button type="button" class="genre-button" id="fantasybtn" value="Fantasy">Fantasy</button></td></li>
    </ul>
    <ul>
        <li><a href="#"> <img class="profileimg" id="profileimg" src="{% static 'livrowebapp/img/book1.png' %}"></a></li>
        <li><p id ="fantasy-title">title</p></li>
        <li><button type="button" class="genre-button" id="fantasybtn" value="Fantasy">Fantasy</button></td></li>
    </ul>
    <ul>
        <li><a href="#"> <img class="profileimg" id="profileimg" src="{% static 'livrowebapp/img/book1.png' %}"></a></li>
        <li><p id ="fantasy-title">title</p></li>
        <li><button type="button" class="genre-button" id="fantasybtn" value="Fantasy">Fantasy</button></td></li>
    </ul>
    <ul>
        <li><a href="#"> <img class="profileimg" id="profileimg" src="{% static 'livrowebapp/img/book1.png' %}"></a></li>
        <li><p id ="fantasy-title">title</p></li>
        <li><button type="button" class="genre-button" id="fantasybtn" value="Fantasy">Fantasy</button></td></li>
    </ul>

  </div>
</div>
{% endblock %}