{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link href="{% static 'livrowebapp/css/browse.css' %}" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0" />
    <title>livro</title>
  </head>

<body>
  <div class="navbar" id="myNavbar">
      <div class="logo">
        <a href="#"><img src="{% static 'livrowebapp/img/logo.png' %}" width="100"/></a>
      </div>

      <div class="navbarRight">        
        <tr>
            <th> <a href="#"> Home</a> </th>
            <th> <a href="aboutus/"> About Us </a> </th>
            <th>  <a href="#"> Login</a></th>
            <th>  <a href="#"> Sign Up</a> </th>
          </tr>
               
    </div>
  </div>

<div class="content" >
    <div class="searchbg"> 
        <div class="search-box">
            <button><img src="{% static 'livrowebapp/img/search48px.png' %}"></button>
            <input type="text" placeholder="Search books...">
        </div>
        <div class="filters">
            <p>Genres:</p>
            <div class="genre-buttons">
                <button type="button" class="genre-button" value="Action">Action</button>
                <button type="button" class="genre-button" value="Fantasy">Fantasy</button>
                <button type="button" class="genre-button" value="Drama">Drama</button>
                <button type="button" class="genre-button" value="Comedy">Comedy</button>
                <button type="button" class="genre-button" value="Fiction">Fiction</button>
                <button type="button" class="genre-button" value="NonFiction">NonFiction</button>
                <button type="button" class="genre-button" value="Science Fiction">Science Fiction</button>
                <button type="button" class="genre-button" value="Horror">Horror</button>
            </div>
        </div>          
    </div>

    <div class="browsebottom">
        <div class="genreoutput">
            <p><b>User Bookshelf</b></p>
            <div class="books">
            <table>
                <tr>
                    <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a></th>
                    <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
                    <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
                    <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
                    <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
                    <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
                    <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
                    <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
                </tr>
                <tr>
                    <td><p>Fantasy</p> </td>
                    <td><p>Fantasy</p> </td>
                    <td><p>Fantasy</p> </td>
                    <td><p>Fantasy</p> </td>
                    <td><p>Fantasy</p> </td>
                    <td><p>Fantasy</p> </td>
                    <td><p>Fantasy</p> </td>
                    <td><p>Fantasy</p> </td>
                </tr>
                <tr>
                    <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a></th>
                    <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
                    <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
                    <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
                    <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
                    <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
                    <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
                    <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
                </tr>
                <tr>
                    <td><p>Fantasy</p> </td>
                    <td><p>Fantasy</p> </td>
                    <td><p>Fantasy</p> </td>
                    <td><p>Fantasy</p> </td>
                    <td><p>Fantasy</p> </td>
                    <td><p>Fantasy</p> </td>
                    <td><p>Fantasy</p> </td>
                    <td><p>Fantasy</p> </td>
                </tr>
                <tr>
                    <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a></th>
                    <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
                    <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
                    <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
                    <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
                    <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
                    <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
                    <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
                </tr>
                <tr>
                    <td><p>Fantasy</p> </td>
                    <td><p>Fantasy</p> </td>
                    <td><p>Fantasy</p> </td>
                    <td><p>Fantasy</p> </td>
                    <td><p>Fantasy</p> </td>
                    <td><p>Fantasy</p> </td>
                    <td><p>Fantasy</p> </td>
                    <td><p>Fantasy</p> </td>
                </tr>
            </table>
            </div>
        </div>
    </div>
  </div>
    
    <script src="{% static 'livrowebapp/js/profile.js' %}"></script>
  </body>
</html>