{% load static %}
{% include 'livrowebapp/home.html' %}
{% block content %}

<link href="{% static 'livrowebapp/css/profile_writer.css' %}" rel="stylesheet" />
<div class="content">
  <div class="profilebackground">
    <img src="{% static 'livrowebapp/img/writerimage.png' %}" />
    <p>@{{ member.username }}</p>
    <a button class="editprofile" href="{% url 'manageprofile_writer' %}">Edit Profile</a>
  </div>
  <div class="profilebottom">
    <div class="profilebottomLeft">
      <div class="aboutuser">
        <p><b>About user:</b> <br><br>{{ member.about_user }}</p>
      </div>

      <div class="addupdatebuttons">
        <a class="addbook" href="{% url 'addbooks' %}">Upload Book</a>
        <a class="updatebook" href="{% url 'updatebooks' %}">Update Book</a>
      </div>

    </div>

  <div class="profilebottomright">
          <div class="userbookshelf">
              <p id="p" ><b>User Bookshelf</b><br>Uploaded Books</p>
              <div class="books">
                <table>
                  <tr>
                    {% for book in all_books %}
                        <ul>
                            {% if member.username == ' ' %}
                              <li><a href="#" id="bookLog"><img class="profileimg" src="{{ book.book_cover.url }}"></a></li>
                            {% else %}
                                <li><a href="{% url 'bookinformation' book.title %}"><img class="profileimg" src="{{ book.book_cover.url }}"></a></li>
                            {% endif %}                
                            <li><p id="book-title">{{ book.title }}</p></li>
                        </ul>
                    {% endfor %}                  
                  </tr>
                </table>
              </div>
            </div>
          </div>
      </div>
    </div>
    <script src="{% static 'livrowebapp/js/profile.js' %}"></script>
    {% endblock %}