body {
    font-family: Tahoma;
    margin: 0;
    padding: 0;
    position: relative;
}

.navbar {
    background-color: #F2F7FF;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
}
.container{
    display: flex;
    flex-direction: column;
}
.logo {
    padding: 10px 0;
}

/* Increase the logo size */
.logo img {
    width: 150px; /* Adjust the width as needed for a larger logo */
}
.logo1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.tagline {
    display: flex;
    font-size: 90%;
    justify-content: center;
    align-items: center;
    flex: .2;
    font: Tahoma;
}
.desc {
    display: flex;
    font-size: 70%;
    align-items: center;
    flex: 1;
    margin: 0% 20% 0% 20%;
    font: Tahoma;
    line-height: 1.5;
    text-align: justify;
}
.desc h2 {
    padding: 0% 3% 0% 3%;
}
.browse {
    background-color: #191c1a;
    border: none;
    color: lightgray;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 6px 10px;
    cursor: pointer;
    border-radius: 4px;
    border-radius: 50px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.login {
    background-color: #191c1a;
    border: none;
    color: lightgray;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 6px 10px;
    cursor: pointer;
    border-radius: 4px;
    border-radius: 50px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.signup {
    background-color: #191c1a;
    border: none;
    color: lightgray;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 6px 10px;
    cursor: pointer;
    border-radius: 4px;
    border-radius: 50px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1.5;
}

/* Increase the logo size */
.logo1 img {
    width: 500px; /* Adjust the width as needed for a larger logo */
}

      
  