body {
    font-family: Tahoma;
    margin: 0;
    padding: 0;
    position: relative;
}

.navbar {
    background-color: #F2F7FF;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.navbar-shadow {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar a {
    font-size: 18px;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    padding: 15px 30px;
}

/* Remove the hover effect for all navbar links */
.navbar a:hover {
    background-color: transparent;
    color: rgb(0, 0, 0);
}

.logo {
    padding: 10px 0;
}

/* Increase the logo size */
.logo img {
    width: 150px; /* Adjust the width as needed for a larger logo */
}
.logo1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh; /* Set a fixed height to center vertically, adjust as needed */ 
}
.tagline {
    display: flex;
    font-size: 90%;
    justify-content: center;
    align-items: center;
    height: 5vh;
    font: Tahoma;
}
.desc {
    display: flex;
    font-size: 70%;
    align-items: center;
    height: 25vh;
    margin: 0% 20% 0% 20%;
    font: Tahoma;
    line-height: 1.5;
    text-align: justify;
}
.browse {
    background-color: #191c1a;
    border: none;
    color: lightgray;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 6px 10px;
    cursor: pointer;
    border-radius: 4px;
    border-radius: 50px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.login {
    background-color: #191c1a;
    border: none;
    color: lightgray;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 6px 10px;
    cursor: pointer;
    border-radius: 4px;
    border-radius: 50px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.signup {
    background-color: #191c1a;
    border: none;
    color: lightgray;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 6px 10px;
    cursor: pointer;
    border-radius: 4px;
    border-radius: 50px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.buttons {
    display: flex;
    height: 0vh;
    align-items: center;
    justify-content: center;
}

/* Increase the logo size */
.logo1 img {
    width: 500px; /* Adjust the width as needed for a larger logo */
}
@media screen and (max-width: 576px) {
    body {
      font-size: 16px;
    }
    .logo1 img {
        width: 100%;
    }
    
    .desc {
        margin: 0;
    }
    
    .buttons {
        flex-direction: column;
        align-items: center;
    }
    
    .browse,
    .login,
    .signup {
        margin: 10px 0;
    }
}
      
  